<a href="https://colab.research.google.com/github/DerivativeJRM07/gaming_data_analysis/blob/main/gaming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Gaming_data_analysis_jrm/Gaming_Hours_vs_Performance_1000_Rows.csv') # Use this updated path, or replace with the correct one if different.

In [4]:
df.head(10)

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral
5,U0006,29,Female,Student,Casual,5.3,37.1,Evening,6.0,9,8,78,75,Neutral
6,U0007,35,Male,Student,Sports,4.4,30.8,Evening,7.2,3,7,95,92,Neutral
7,U0008,25,Male,Working Professional,Sports,2.0,14.0,Evening,8.2,5,8,75,70,Positive
8,U0009,32,Male,Working Professional,Strategy,0.9,6.3,Morning,8.2,7,4,86,87,Positive
9,U0010,25,Male,Working Professional,Action,4.6,32.2,Morning,6.7,8,7,80,80,Neutral

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User_ID                 1000 non-null   object
 1   Age                     1000 non-null   int64
 2   Gender                  1000 non-null   object
 3   Occupation              1000 non-null   object
 4   Game_Type               1000 non-null   object
 5   Daily_Gaming_Hours      1000 non-null   float64
 6   Weekly_Gaming_Hours     1000 non-null   float64
 7   Primary_Gaming_Time     1000 non-null   object
 8   Sleep_Hours             1000 non-null   float64
 9   Stress_Level            1000 non-null   int64
 10  Focus_Level             1000 non-null   int64
 11  Academic_or_Work_Score  1000 non-null   int64
 12  Productivity_Level      1000 non-null   int64
 13  Performance_Impact      1000 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 109.5+ KB
None

In [6]:
print(df.describe())

               Age  Daily_Gaming_Hours  Weekly_Gaming_Hours  Sleep_Hours  \
count  1000.000000         1000.000000          1000.000000  1000.000000
mean     26.600000            3.320300            23.242100     6.479500
std       5.207218            1.613059            11.291414     1.155848
min      18.000000            0.500000             3.500000     4.500000
25%      22.000000            2.000000            14.000000     5.475000
50%      27.000000            3.300000            23.100000     6.500000
75%      31.000000            4.800000            33.600000     7.500000
max      35.000000            6.000000            42.000000     8.500000

       Stress_Level  Focus_Level  Academic_or_Work_Score  Productivity_Level
count   1000.000000  1000.000000              1000.00000         1000.000000
mean       5.454000     6.065000                75.07800           75.275000
std        2.281905     2.010178                11.67494           12.058805
min        2.000000     3.000000                55.00000           50.000000
25%        3.000000     4.000000                65.00000           65.000000
50%        5.000000     6.000000                75.00000           75.000000
75%        7.000000     8.000000                85.00000           86.000000
max        9.000000     9.000000                95.00000          100.000000

In [7]:
print(df.columns)

Index(['User_ID', 'Age', 'Gender', 'Occupation', 'Game_Type',
       'Daily_Gaming_Hours', 'Weekly_Gaming_Hours', 'Primary_Gaming_Time',
       'Sleep_Hours', 'Stress_Level', 'Focus_Level', 'Academic_or_Work_Score',
       'Productivity_Level', 'Performance_Impact'],
      dtype='object')